@import "shared";

.body{
  background: #F8F8FD;
}

.progress {
  stroke-width: 23;
  stroke: #555CC1;
  stroke-linecap: round;
  fill: none;
  transform: rotate(270deg);
  transform-origin: center;
  stroke-dashoffset: 1200;
  stroke-dasharray: 1200;
}
.progress-stats{
  font-family: Inter, sans-serif;
  span{
    color: #545bc0;
    display: inline-block;
    text-align: center;
    vertical-align: text-top;
    font-size: 30px;
    line-height: 12.8999996185px;
    border-style: hidden;
    outline: none;
    width: 100%;
    font-weight: 600;
    margin-bottom: 21px;
  }
  .message{
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-bottom: 11px;
    font-weight: bold;
    color:#383838;
  }


}
button.logs{
  width: 270px;
  background: white;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
  margin: 0 auto 7%;
  color:#D2513E;
  font-weight: bold;
  column-gap: 9px;
  span{
    font-size: 10px;
  }
}
.progress-text{
  font-size: 3rem;
  font-weight: 700;
  fill: #555CC1;
  text-anchor: middle;
  dominant-baseline: middle;
  transform: translateY(-35.75px);
}
.progress-small-text{
    font-size: 1.5rem;
    fill: #999899;
    text-anchor: middle;
    dominant-baseline: middle;
    transform: translateY(5.75px);
}
div.warning-label {
  font-family: "Inter", sans-serif;
  background-color: #f5f9ff;
  padding: 5% 2%;
  width: 270px;
  border-radius: 7.1764707565px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 9.5686273575px;
  border: 1px solid #9DC0EE;
  position: relative;
  box-shadow: 0px 1px 4px 1px #d4d4d996;
  margin: -30px auto 24.69px;

  div.inner-text{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
  }
}